.about-us-container {
    width: 750px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .about-us-heading {
    font-size: 28px;
    font-weight: medium;
    color: white;
    margin-bottom: 20px;
  }
  
  .about-us-description {
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
  }
  
  .about-us-content {
    margin-bottom: 20px;
    color: white;
  }
  .plant_logo_right {
    text-align: right;
  }
  
  .plant_logo_left {
    text-align: left;
  }